#espad_page form {
    width: 100% !important;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 5px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fff !important;
    color: #000 !important;
}

#espad_page .hidden {
    display: none;
}

#espad_page #payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#espad_page #payment-element {
    margin-bottom: 15px;
}

/* Buttons and links */
#espad_page button {
    background: #0055DE;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}
#espad_page button:hover {
    filter: contrast(115%);
}
#espad_page button:disabled {
    opacity: 0.5;
    cursor: default;
}

/* spinner/processing state, errors */
#espad_page .spinner,
#espad_page .spinner:before,
#espad_page .spinner:after {
    border-radius: 50%;
}
#espad_page .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
#espad_page .spinner:before,
#espad_page .spinner:after {
    position: absolute;
    content: "";
}
#espad_page .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #0055DE;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}
#espad_page .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #0055DE;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

/* dynamic payment methods annotation */
#espad_page #dpm-annotation {
    align-self: center;
    color: #353A44;
    width: 30vw;
    min-width: 500px;
    line-height: 20px;
    margin-bottom: 20px;
}

#espad_page #dpm-integration-checker {
    display: inline;
    color: #533AFD;
}

/* Payment status page */
#espad_page #payment-status {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 30vw;
    min-width: 500px;
    min-height: 380px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

#espad_page #status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#espad_page h2 {
    margin: 0;
    color: #30313D;
    text-align: center;
}

#espad_page a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    display: block;
}
#espad_page a:hover {
    filter: contrast(120%);
}

#espad_page #details-table {
    overflow-x: auto;
    width: 100%;
}

#espad_page table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}
#espad_page table tbody tr:first-child td {
    border-top: 1px solid #E6E6E6; 
    padding-top: 10px;
}
#espad_page table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6; 
}
#espad_page td {
    padding-bottom: 10px;
}

#espad_page .TableContent {
    text-align: right;
    color: #6D6E78;
}

#espad_page .TableLabel {
    font-weight: 600;
    color: #30313D;
}

#espad_page #view-details {
    color: #0055DE;
}

#espad_page #retry-button {
    text-align: center;
    background: #0055DE;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  to {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
    
    #espad_page form, #dpm-annotation, #payment-status{
        width: 85vw !important;
        min-width: initial;
    }
     
}