/* Easy Stripe Payments and Donations Plugin v1.2.0 */
body, p {
    font-size: 15px !important;
}
h1.espad_headline .dashicons-money-alt {
    font-size: 34px;
}
.error {
    color: red;
}
.blue {
    color: #0073aa;
}
.orange {
    color: #A25B00;
}
.green {
    color: #157b00;
}
.grey {
    color: #8A8A8A;
}
.espad-custom-tooltip,
.espad-custom-tooltip-xl {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    z-index: 9999999;
    pointer-events: none;
    white-space: pre-line;
}
.espad-custom-tooltip-xl {
    margin-top: -60px;   
}
.espad-info-box-icon img {
    width: 24px;
    cursor: pointer;
}
#payoutChart {
    margin-top: -85px;
}
/* Loading Animation */
#espad-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
/* Loader-Stil */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid transparent;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
/* Zusätzliche Ringe */
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
/* Dreh-Animation */
@keyframes l15 { 
  100% { transform: rotate(1turn); }
}
/* Der Hauptinhalt, welcome page */
#content {
    display: none; 
}
/* END: Loading Animation */
/* Welcome Page */
.welcome_headline {
    position: relative;
    z-index: 999;
}
.espad-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 -10px;
}
.espad-column {
  flex: 1 1 40%;
  padding: 0 10px;
  box-sizing: border-box;
}
.balance-box {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.balance-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
  color: #333;
}
.balance-amount {
  font-size: 18px;
  color: #222;
}
.balance-box {
  background: #fff8e1;
  border-left: 6px solid #ffb300;
  padding: 16px 20px;
  margin: 20px 0;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  width: 90%;
  transition: background-color 0.3s ease, width 0.3s ease;
}
.balance-box:hover {
   background: #ffb300; 
}
.balance-title {
  font-size: 16px;
  /*font-weight: bold;*/
  color: #ff8f00;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}
.balance-amount {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}
.balance-box:hover .balance-title,
.balance-box:hover .balance-amount {
  color: #fff; 
}
.espd-connect-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 16px;
    background-color: #28a745; /* Bootstrap Green */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.espd-connect-button:hover {
    background-color: #218838;
    color: #fff;
}
/* END: Welcome Page */
.espad_powered_by_box {
    text-align: center; 
    font-size: 13px !important;
}
/* Help Page */
.espd-faq-accordion {
    max-width: 100%;
    margin: 20px 0;
    font-family: sans-serif;
}
.espd-faq-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.espd-faq-question {
    background-color: #f5f5f5;
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 40px;
}
/* Symbol: + oder - */
.espd-faq-question::after {
    content: '+';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
    transition: transform 0.2s, content 0.2s;
}
/* Wenn offen → Symbol aendern zu Minus */
.espd-faq-item.open .espd-faq-question::after {
    content: '–';
}
.espd-faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    background-color: #fff;
    transition: max-height 0.3s ease, padding 0.3s ease;
}
/* Offen-Zustand animieren */
.espd-faq-item.open .espd-faq-answer {
    max-height: 500px; /* muss groß genug sein für längste Antwort */
    padding: 16px;
}
/* END: Help Page */
#toplevel_page_espd_main .wp-submenu li a[href="admin.php?page=espd_main&tab=premium"] {
    background-color: #28a745 !important;
    color: #fff !important;
}
#toplevel_page_espd_main .wp-submenu li a[href="admin.php?page=espd_main&tab=premium"]:hover {
    background-color: #218838 !important;
}
.swal-button--confirm,
.swal2-confirm {
    background-color: #0073aa !important;    
}
.swal-button--confirm:hover,
.swal2-confirm:hover {
    background-color: #000 !important;    
}
.swal-button--cancel {
    width: 100%;
}
.swal-footer .swal-button-container:first-child {
    width: 165px;
}
img.espad_lightbox {
    width:100%; 
    max-width: 424px; 
    border-radius: 8px; 
    margin-bottom: 16px;
    margin-top: -16px;    
}
#espad_page textarea#message {
    border: 1px solid #e1e1e1;
    border-radius: 7px;
}
#espad_page input.form-control:focus,
#espad_page textarea#message:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}
#espad_page select.form-select {
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 236px;
    text-align: center;
}
#espad_page .btn-check:checked + .btn, 
#espad_page :not(.btn-check) + .btn:active, 
#espad_page .btn:first-child:active, 
#espad_page .btn.active, 
#espad_page .btn.show,
#espad_page #prices_box label.btn:hover {
    background-color: #0d8889 !important;
    color: #fff !important;
}
#espad_page .btn-outline-primary {
    color: #0d8889 !important;
}
#espad_page h2 {
    margin-top: -15px !important;
}
.espad-tab {
    background: #fff; 
    padding: 20px; 
    border: 1px solid #ccd0d4; 
    border-top: none;
}
#espad_page form#payment-form {
    margin: auto;
}
#espad_page form#payment-form.tablet {
    width: 768px !important;
}
#espad_page form#payment-form.mobile {
    width: 400px !important;
}
#espad_page .size-changer {
    margin: auto;
}
.wp-premium-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0073aa;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;    
}
.wp-premium-button:hover {
    background-color: #000;
    color: #fff;
}
/* #espd-form-modal Form */
#color {
    cursor: pointer;
    width: 100%;
}
#espd-form-modal .form-container,
#espd-form-campaign-modal .form-container,
#espd-form-recurring-modal .form-container {
    width: 100%;
    max-width: 1000px; /* Width max. 1000px */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#espd-form-modal form,
#espd-form-campaign-modal form,
#espd-form-recurring-modal form {
    display: block;
}
#espd-form-modal #espd-admin-notice-wrapper,
#espd-form-campaign-modal #espd-admin-campaign-notice-wrapper,
#espd-form-recurring-modal #espd-admin-notice-wrapper {
    margin-bottom: 15px;
    width: 98%;
}
#espd-form-modal .form-row,
#espd-form-campaign-modal .form-row,
#espd-form-recurring-modal .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
#espd-form-modal .form-group,
#espd-form-campaign-modal .form-group,
#espd-form-recurring-modal .form-group {
    flex: 1;  /* Weist jedem Inputfeld die gleiche Breite zu */
    display: flex;
    flex-direction: column;
}
#espd-form-modal .form-group.full-width,
#espd-form-campaign-modal .form-group.full-width,
#espd-form-recurring-modal .form-group.full-width {
    flex: 1 0 100%;  /* Macht das Feld über die gesamte Breite */
}
#espd-form-modal label,
#espd-form-campaign-modal label,
#espd-form-recurring-modal label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}
#espd-form-modal .input,
#espd-form-campaign-modal .input,
#espd-form-recurring-modal .input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#espd-form-modal input[type="number"],
#espd-form-modal input[type="text"],
#espd-form-modal input[type="url"],
#espd-form-campaign-modal textarea,
#espd-form-campaign-modal input[type="number"],
#espd-form-campaign-modal input[type="text"],
#espd-form-campaign-modal input[type="url"],
#espd-form-recurring-modal input[type="number"],
#espd-form-recurring-modal input[type="text"],
#espd-form-recurring-modal input[type="url"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#espd-form-modal input[type="number"]:focus,
#espd-form-modal input[type="text"]:focus,
#espd-form-modal input[type="url"]:focus,
#espd-form-campaign-modal input[type="number"]:focus,
#espd-form-campaign-modal input[type="text"]:focus,
#espd-form-campaign-modal input[type="url"]:focus,
#espd-form-recurring-modal input[type="number"]:focus,
#espd-form-recurring-modal input[type="text"]:focus,
#espd-form-recurring-modal input[type="url"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}
#espd-form-modal button:hover, 
#espd-form-campaign-modal button:hover,
#espd-form-recurring-modal button:hover {
    background-color: #0056b3;
}
#espd-form-modal select.form-control,
#espd-form-campaign-modal select.form-control,
#espd-form-recurring-modal select.form-control {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: auto; 
}
#espd-form-modal select.form-control:focus,
#espd-form-campaign-modal select.form-control:focus,
#espd-form-recurring-modal select.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}
/* espad-table */
table#espad-table tbody tr:hover,
table#espad-table-stripe-payments tbody tr:hover {
    background-color: #2271b1;
    transition: all 0.3s ease; 
}
table#espad-table tbody tr:hover td,
table#espad-table-stripe-payments tbody tr:hover td {
    color: #fff !important
} 
#espad-table-stripe-payments_wrapper {
    overflow-x: auto;
}
/* Payments Page */
.table_stripe_payments_box {
    position: relative;
}
.table_stripe_payments_box .export-button-container {
    position: absolute;
    top: -55px;
    right: 1px;
}
.table_stripe_payments_box select[name="espad-table-stripe-payments_length"] {
    width: 50px;
}
.table_stripe_payments_box .contact-wrapper {
  max-height: 20px;  
  overflow: hidden;
  transition: max-height 1.3s ease;
  line-height: 1.4em;
}
.table_stripe_payments_box .contact-row:hover .contact-wrapper {
  max-height: 200px; 
}
/* END: Payments Page */
/* Recurring Page, Email Page */
.new_stripe_product_box,
.email_configure_box {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);    
}
.new_stripe_product_box {
    max-width: 500px; 
}
.new_stripe_product_box #currency,
.new_stripe_product_box #form_language {
    width: 350px;
}
.new_stripe_product_box .product_image_input {
    width: 345px;
}
.recurring_form_modal_box .product_image_button {
    width: 130px;
}
form#espd-update-recurring-product .subscription_btn {
    margin-bottom: 20px;
    transition: all 0.2s ease;
    background-color: #0d8889;
    border: none;
}
form#espd-update-recurring-product .btn-small {
  font-size: 0.8rem;
  padding: 0.4em 0.8em;
}
form#espd-update-recurring-product .btn-medium {
  font-size: 1rem;
  padding: 0.6em 1.2em;
}
form#espd-update-recurring-product .btn-large {
  font-size: 1.2rem;
  padding: 0.8em 1.6em;
}
form#espd-update-recurring-product .btn-x-large {
  font-size: 1.4rem;
  padding: 1em 2em;
}
form#espd-update-recurring-product .btn-xx-large {
  font-size: 1.8rem;
  padding: 1.2em 2.4em;
}
#button_color,
#button_font_color {
    cursor: pointer;
}
table#espad-table .subscription_btn_preview {
    background-color: #0d8889;
    border: none;
}
.email_configure_box {
    max-width: 600px; 
}
.email_configure_box .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}
.email_configure_box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.email_configure_box .slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}
.email_configure_box .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.email_configure_box input:checked + .slider {
  background-color: #2271b1; /* WP-blau */
}
.email_configure_box input:checked + .slider:before {
  transform: translateX(22px);
}
.email_configure_box .slider.round {
  border-radius: 24px;
}
.email_configure_box .slider.round:before {
  border-radius: 50%;
}
/* Forms */
.espad_img_box {
    display: flex; 
    gap: 8px;
}

