shortcode_payment_form .campaign-image-box img {
    width: 100%;
}
#espad_page iframe {
    outline-style: unset !important;
    max-width: unset !important;
}
/* Preview */
#wpbody .preview_page h2 {
    margin-top: -35px !important;
}
.espad-payment-wrapper {
    display: inline-block;
    width: 100%;
}
.campaign-image-box {
    width: 47%;
    margin-right: 3%;
}
.campaign-image-box img {
    width: 100%;
    border-radius: 6px !important;
} 
.campaign-image-box p {
    padding-top: 20px;
    line-height: 26px;
    text-align: justify;
}
.campaign-image-box,
.espad-payment-box {
    float: left;
}
.espad-payment-box {
    width: 50%;   
}
/* Campaign Progress Bar */
.progress-container {
    width: 100%;
    margin: 15px 0 0 0;
}
.progress-container p {
    padding: 3px 0 0 0;
    margin: 0px !important;
}
.progress-label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: right;
}
.progress-label strong {
    font-size: 26px;
    color: #0D8889;
}
.progress-bar-bg {
    width: 100%;
    height: 13px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar-fill {
    height: 100%;
    width: 0;
    background-color: #0D8889;
    transition: width 2s ease;
}
#espad_page,
.espad-payment-wrapper {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}
#espad_page p {
    font-size: 15px !important;
}
#espad_page strong {
    font-weight: 800 !important;
}
#espad_page #prices_box input.btn-check {
    box-shadow: none !important; 
}
#espad_page #prices_box label.btn {
    padding: 13px !important;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-shadow: none !important;
}
#amountInput {
    width: 140px;
    border: 0px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;  
    font-size: 15px !important;
    padding-left: 10px;
}
#amountInput,
#espad_page input.form-control {
    transition: border-color 0.3s ease;
}
#espad_page input.form-control {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 58px !important;
}
#espad_page input.form-control::placeholder {
    color: #333 !important;
} 
#espad_page .f-14 {
    font-size: 14px;
}
#espad_page .f-15 {
    font-size: 15px;
    font-weight: 400 !important;
}
#espad_page #button-text img {
    width: 17px;
    margin-top: -7px;
    margin-right: 7px;
    display: inline-block !important;
}
#espad_page #amountInput::-webkit-input-placeholder,
#espad_page #amountInput::-moz-placeholder,
#espad_page #amountInput::-ms-input-placeholder,
#espad_page #amountInput:-ms-input-placeholder,
#espad_page #amountInput::placeholder { 
    font-weight: 400 !important;
    color: #333 !important;   
}
/* Powered by EcoSys365 */
.powered_by_ecosys365 {
    text-align: center;
}
.powered_by_ecosys365 a {
    font-weight: normal !important;
    font-size: 13px !important;
    color: #777 !important;
    margin-top: 6px;
}
.powered_by_ecosys365 a:hover {
    color: #444 !important;
}
/* Subscription Button */
.espad_subscription_btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.espad_subscription_btn:hover {
    background-color: #424649 !important;
}
.espad_subscription_btn.espad-btn-small {
  font-size: 0.8rem;
  padding: 0.4em 0.8em;
}
.espad_subscription_btn.espad-btn-medium {
  font-size: 1rem;
  padding: 0.6em 1.2em;
}
.espad_subscription_btn.espad-btn-large {
  font-size: 1.2rem;
  padding: 0.8em 1.6em;
}
.espad_subscription_btn.espad-btn-x-large {
  font-size: 1.4rem;
  padding: 1em 2em;
}
.espad_subscription_btn.espad-btn-xx-large {
  font-size: 1.8rem;
  padding: 1.2em 2.4em;
}
/* Smartphones: max-width 767px */
@media (max-width: 767px) {
  
    #amountInput {
        width: 100%;
        font-size: 16px;
        padding: 13px;
    }
    #espad_page #amountInput::placeholder {  
        color: #333 !important;  
    }     
    .prev-mode-Standard #amountInput {
        height: 52px;        
    }     
    .prev-mode-Campaign #amountInput {
        margin-top: 2px;
    }   
    .prev-mode-Campaign #prices_box div.btn-group {
        display: block;
    }    
    .campaign-image-box,
    .espad-payment-box {
        width: 100%;
    }
    #espad_page div.col-md {
        flex: 0 1 auto;
    }
    #espad_page #payment-form .panel-body div.row .col-md:first-of-type {
        margin-bottom: 17px;
    }    

}

/* Tablets: 768px bis 1024px */
@media (min-width: 768px) and (max-width: 1024px) {   
    
    #amountInput {
        width: 100%;
        font-size: 18px;
        padding: 13px;
    }
    #espad_page #amountInput::placeholder {  
        color: #333 !important;  
    }     
    .prev-mode-Standard #amountInput {
        height: 52px;        
    }    
    .prev-mode-Campaign #amountInput {
        margin-top: 2px;
    }   
    .prev-mode-Campaign #prices_box div.btn-group {
        display: block;
    }    
    .campaign-image-box,
    .espad-payment-box {
        width: 47%;
        display: inline-block;
        vertical-align: top;
    }
    .prev-mode-Campaign #prices_box div.btn-group {
        display: block;
    }
    #espad_page div.col-md {
        flex: 0 1 auto;
    }
    #espad_page #payment-form .panel-body div.row .col-md:first-of-type {
        margin-bottom: 17px;
    }
    
}

/* Desktop: ab 1025px */
@media (min-width: 1025px) {    
    
    #amountInput {
        width: 100%;
        font-size: 20px;
        padding: 13px;
    }
    #espad_page #amountInput::placeholder {  
        color: #333 !important;  
    }    
    .prev-mode-Campaign #amountInput {
        margin-top: 4px;
    }   
    .prev-mode-Standard #amountInput {
        height: 52px;
    }
    .prev-mode-Campaign #prices_box div.btn-group {
        display: block;
    }    
    .campaign-image-box,
    .espad-payment-box {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
    #espad_page div.col-md {
        flex: 1 0 0%;
    }
    #espad_page #payment-form .panel-body div.row .col-md:first-of-type {
        margin-bottom: 0px;
    }    
    
}
